
ISO 11608-1:2014(E)
s
The sample standard deviation; when based on a random sample, an estimate of the true 
standard deviation:
s
V
x
n
meas
=
−
−




∑(
)
/ (
)
/
2
1 2
1
.
k
k value, or tolerance limit factor, determined from the confidence level (95 %), probability con-
tent, p, and number of accuracy measurements, n, conducted at each dose setting.
kact
Actual k value, determined from the following equations:
Two-sided
kact=min 
U
x
s
x
L
s
−
(
)
−
(
)








,
 
One-sided
Kact=
x
L
s
−
(
)








 or kact=
U
x
s
−
(
)








ktar
Target k value, found from the look-up table in ISO 16269-6:2014 (Annexes D and E), or 
Annex B.
DR
Dialling resolution, the minimum dialling increment of the NIS.
α
Absolute error, in millilitres, used to define the upper and lower specification limits for a pre-
set dose in absolute terms.
β
Relative error, as a percentage, used to define the upper and lower specification limits for a 
pre-set dose in relative terms.
TP
The transition point volume, in millilitres, at which the upper and lower specification limits 
for Vset change from absolute terms to relative terms (i.e. Vset where α and β are equal):
TP = (100 ×α)/β
U
Upper specification limit for a given Vset.
L
Lower specification limit for a given Vset.
RF
Radio frequency
5	 Requirements
5.1	 General
Companies wishing to verify a NIS shall ensure that the system meets the requirements of this part 
of ISO 11608. In addition, companies shall ensure that the appropriate components (e.g. needles and 
containers) and features (e.g. electromechanical drive systems and automated functions) specified for 
use in the system satisfy the relevant parts of ISO 11608.
﻿
4
© ISO 2014 – All rights reserved

﻿
ISO 11608-1:2014(E)
5.2	 System designations
Given the differences in device designs and containers (e.g. multi-dose, single dose with partial 
evacuation, and single-dose with full evacuation), the following system designations are provided 
to clearly associate the appropriate test and dose accuracy method with the injection system under 
consideration. Containers can be either manufacturer-filled or user-filled.
Table 1 shows the various needle-based injector system designations.
Table 1 — System designations
Multi-dose container
Single-dose container
A
Needle-based injection device with replaceable con-
tainer.
Each container holds multiple doses, the size of which 
may be fixed or variable (pre-set by the user).
B1
Needle-based injection device with replaceable con-
tainer.
Each container holds a single dose, whereby the entire 
deliverable volume is expelled.
B2
Needle-based injection device with replaceable con-
tainer.
Each container holds a single dose, whereby a portion 
of the deliverable volume is expelled.
C
Needle-based injection device with integrated non-re-
placeable container.
Each container holds multiple doses, the size of which 
may be fixed or variable (pre-set by the user).
D1
Needle-based injection device with integrated non-re-
placeable container.
Each container holds a single dose, whereby the entire 
deliverable volume is expelled.
D2
Needle-based injection device with integrated non-re-
placeable container.
Each container holds a single dose, whereby a portion 
of the deliverable volume is expelled.
5.3	 Risk analysis requirements
The manufacturer shall conduct risk assessments in accordance with ISO 14971. These risk assessments 
shall consider all aspects of the development, manufacture and intended use of the NIS for medical use. 
The NIS shall conform to the usability requirements specified in IEC 62366.
5.4 Uncertainty of measurement and conformance with specifications
Measurement uncertainty shall be evaluated and expressed by the laboratory performing the test in 
accordance with ISO/IEC Guide 98-3 (GUM).
Conformance with specifications is established in accordance with ISO 14253-1.
5.5	 General design requirements
a)	 The container holder shall allow visibility of the deliverable volume. The manufacturer shall 
determine, by risk analysis, if a residual scale is required and how much of the deliverable volume 
shall be visible.
b)	 With the exception of system designations B2 and D2, NISs shall be designed in such a way that they are 
able to accurately deliver the entire labelled volume from the container for which they are designed.
﻿
© ISO 2014 – All rights reserved
5

﻿
ISO 11608-1:2014(E)
c)	
NISs with system designation B1 where the container is user-filled shall be designed in such a way 
that they are capable of delivering the maximum volume needed to fill the container, as specified in 
the labelling.
d)	 When the injection system requires the user to pre-set the dose, the injector shall provide an 
indication of the dose that has been set. This information can be displayed in drug-specific units (e.g. 
millilitres, milligrams, international units) or in a setting specified by the physician (e.g. number, 
letter, percentage) as appropriate for the drug to be delivered. When the dose has been pre-set by 
the manufacturer, the dose can be indicated by the device or the system labelling, as appropriate.
e)	 There shall be an indication of the pre-setting by visual and either tactile and/or audible means.
f)	
The NIS shall indicate, at least by visual means, that it is ready for injection.
g)	 The state of the NIS, when ready to deliver a dose, shall be different from its state when the dose has 
been delivered. The difference shall be visible.
h)	 The NIS shall indicate, by visual, audible or tactile means, or any combination of these, that the 
injection stroke has been completed.
i)	
NISs with system designation D2 shall be designed in such a way that it is impossible to deliver the 
remaining volume following the actuation and that it is impossible to reactivate the device.
j)	
Variable multi-dose NISs (system designations A and C) shall be designed so that they:
1)	 do not allow a larger dose to be pre-set than is left in the container, or
2)	 do not allow dose delivery if the pre-set amount exceeds the amount of medicinal product left in 
the container, or
3)	 indicate the amount of medicinal product delivered, or
4)	 indicate the amount of medicinal product not delivered (of the pre-set dose).
k)	 Fixed multi-dose NISs shall not allow pre-setting of the dose if a volume that is insufficient for the 
full fixed dose remains.
l)	
The NIS shall be designed to function with its specified needles. ISO 11608-2 provides guidance for 
needles.
m)	 The NIS shall be designed to function with its specified containers. ISO 11608-3 provides guidance 
for containers.
n)	 If the NIS has automated functions, the requirements of ISO 11608-5 shall be fulfilled.
o)	 If the NIS contains electronic or electromechanical components and/or software, the requirements 
of ISO 11608-4 shall be fulfilled.
p)	 To avoid inadvertent disabling of the NIS containing replaceable batteries, it shall not be possible to 
remove the batteries unless two independent movements are applied.
q)	 If designed with small parts that might be swallowed, the NIS labelling shall include warnings 
preventing access by children under the age of 3 years.
r)	
If the NIS contains batteries, it shall be designed to allow the user to determine the state of the 
power supply.
s)	
If the NIS contains software, the software shall be designed based on a life-cycle model in accordance 
with IEC 62304. The NIS shall fulfil the applicable requirements of IEC 62304 including connection 
to other equipment.
t)	
The risk analysis shall take into consideration the use of alarms, as appropriate, as described 
in IEC 60601-1-11.
﻿
6
© ISO 2014 – All rights reserved
Copyright International Organization for Standardization 
Provided by IHS Markit under license with ANSI 
No reproduction or networking permitted without license from IHS
--``,,,,`,,,,,`,`,`,,,,,```,`-`-`,,`,,`,`,,`

﻿
ISO 11608-1:2014(E)
u)	 Adverse effects of the medicinal product contact with the NIS shall be assessed and mitigated 
through risk assessment.
v)	 Biological requirements of the NIS shall be established in accordance with ISO 10993-1.
NOTE	
It is preferable that the design process incorporate environmentally conscious design (see 
IEC 60601–1-9).
w)	 Where requirements in this part of ISO 11608 provide a test method without acceptance criteria, the 
manufacturer shall establish a specification and acceptance criteria appropriate for the intended 
use of the device, using a risk-based approach (consistent with ISO 14971 and IEC 62366).
6	 Reagent and apparatus
6.1	 General
Any suitable test system can be used, when the required accuracy (calibration) and precision (Gauge 
R&R) can be obtained. The repeatability and reproducibility (Gauge R&R) of the test apparatus shall 
be no greater than 20 % of the allowed tolerance range for any given measurement. For destructive 
test measurements, the Gauge R&R shall be no greater than 30 % of the allowed tolerance range. At a 
minimum, the Gauge R&R should cover ± 2 standard deviations (thereby covering approximately 95 % 
of the variation).
EXAMPLE	
A measurement system with a measurement specification limit of ± 0,01 ml (range of 0,02 ml) 
comes out of the Gauge R&R with a Gauge R&R/tolerance range ratio of 20 %, which means that the Gauge R&R 
(4 standard uncertainties) equals 0,02 ml/5 = 0,004 ml. The uncertainty of the measurement is ± 2 standard 
deviations (GUM), which equals 0,002 ml.
All doses, Vset, delivered are recorded gravimetrically, Gmeas, (expressed in grams). These recordings are 
converted to volumes, Vmeas, by using the density, ρ, (expressed in grams per millilitre) for the test liquid 
at environmental conditions. The following equation can be used to convert gravimetric measurements 
to volumetric:
Vmeas =Gmeas/ρ	
(1)
6.2	 Test liquid
The test liquid is the original medicinal product intended to be injected by the NIS, or a liquid with 
similar physical properties.
6.3	 Balance
The balance shall have a resolution of 1 % of the minimum dose delivery.
6.4	 Test surface for free-fall testing
The test surface shall be made of smooth, hard, rigid steel of 3 mm thickness, backed by wood whose 
thickness is greater than 10 mm.
7	 Determination of dose accuracy
7.1	 General
Determination of dose accuracy is a required element that shall be met by the NIS, as defined by the 
design specifications. Where regulatory requirements are more stringent, or where the risk assessment 
dictates, the dose accuracy acceptance criteria shall be adjusted to ensure the system meets them. If 
﻿
© ISO 2014 – All rights reserved
7